# API Configuration
VITE_API_BASE_URL=https://7bt2ch2nna.execute-api.eu-north-1.amazonaws.com/v1

# AWS Cognito Configuration
VITE_AWS_REGION=eu-north-1
VITE_COGNITO_USER_POOL_ID=eu-north-1_fz1hEPl5w
VITE_COGNITO_CLIENT_ID=1tc5uofjkv4cjbk336vmgp9evr

# Deployment Configuration
VITE_APP_ENV=development # development, staging, production
